/* App icons */
.app-well-app.app-folder .overview-icon,
.app-folder.grid-search-result .overview-icon,
.app-well-app .overview-icon,
.grid-search-result .overview-icon {
	box-shadow: inset 0 0 0 0px rgba(255, 255, 255, 0);
	/* fix default dash focused box-shadow*/
	transition-duration: 100ms;
	border-radius: 20px;
	color: TEXT-PRIMARY-COLOR;
	/* ubuntu fix */
}

.app-well-app:hover .overview-icon,
.app-well-app:focus .overview-icon,
.app-well-app:selected .overview-icon,
.show-apps:hover .overview-icon,
.show-apps:focus .overview-icon,
.app-well-app.app-folder .overview-icon {
	box-shadow: inset 0 0 0 1px BORDER-SHADOW;
	background-color: ACCENT-DISABLED-COLOR;
}

.app-well-app.app-folder .overview-icon {
	background-color: ACCENT-DISABLED_HOVER;
}

.app-well-app:drop .overview-icon,
.grid-search-result:drop .overview-icon,
.app-well-app.app-folder:drop .overview-icon,
.app-folder.grid-search-result:drop .overview-icon {
	border: 2px solid ACCENT-SECONDARY-COLOR;
	background-color: ACCENT-OPACITY-COLOR;
}


/* folder dialog */
.app-folder-dialog {
	border-radius: 32px;
	background-color: BACKGROUND-COLOR;
	border: none;
	box-shadow: inset 0 0 0 1px BORDER-MENU-SHADOW;
}

.app-folder-dialog .app-well-app:hover .overview-icon,
.app-folder-dialog .app-well-app:focus .overview-icon {
	background-color: ACCENT-DISABLED-COLOR;
	box-shadow: inset 1px solid BORDER-SHADOW;
}

.app-folder-dialog .folder-name-container {
	color: TEXT-PRIMARY-COLOR;
}

.app-folder-dialog .folder-name-container .folder-name-label {
	padding: 5px 7px;
	color: TEXT-PRIMARY-COLOR;
	font-weight: 700;
	transition-duration: 100ms;
}

.app-folder-dialog .folder-name-container .folder-name-entry {
	font-weight: 700;
	border: none;
	box-shadow: inset 0 0 0 1px BORDER-MENU-SHADOW;
	background-color: ACCENT-DISABLED-COLOR;
	selection-background-color: ACCENT-COLOR;
	selected-color: TEXT-PRIMARY-COLOR;
	/* ubuntu fix */
}

.app-folder-dialog .folder-name-container .edit-folder-button {
	border-radius: 12px;
	background-color: ACCENT-DISABLED-COLOR;
	color: TEXT-PRIMARY-COLOR;
	box-shadow: inset 0 0 0 1px BORDER-SHADOW;
}

.app-folder-dialog .folder-name-container .edit-folder-button:hover {
	background-color: ACCENT-DISABLED_HOVER;
}

.app-folder-dialog .folder-name-container .edit-folder-button:focus {
	box-shadow: inset 0 0 0 2px ACCENT-SECONDARY-COLOR !important;
}

.page-indicator .page-indicator-icon {
	background-color: TEXT-SECONDARY-COLOR;
}

.page-navigation-arrow {
	border-radius: 99px;
	color: TEXT-PRIMARY-COLOR;
	transition-duration: 100ms;
}

.page-navigation-arrow>StIcon {
	margin: 0;
}

.page-navigation-arrow:hover {
	background-color: ACCENT-DISABLED-COLOR;
	box-shadow: inset 0 0 0 1px BORDER-SHADOW;
}

.page-navigation-arrow:hover>StIcon {
	background-color: rgba(0, 0, 0, 0);
}

.page-navigation-arrow:active {
	background-color: ACCENT-DISABLED_HOVER;
	box-shadow: inset 0 0 0 1px BORDER-SHADOW;
}

.page-navigation-hint.next:ltr,
.page-navigation-hint.previous:rtl {
	background-gradient-start: PAGE-NAV-HINT;
	box-shadow: inset 0 0 0 1px BORDER-SHADOW;
}

.page-navigation-hint.previous:ltr,
.page-navigation-hint.next:rtl {
	background-gradient-end: PAGE-NAV-HINT;
	box-shadow: inset 0 0 0 1px BORDER-SHADOW;
}


/* Dash */
#dash .dash-background {
	background-color: DASH-COLOR;
	box-shadow: inset 0 0 0 1px BORDER-MENU-SHADOW;
	padding: 4px 2px 4px 2px;
	border-radius: 21px;
}

#dashtodockContainer #dash .dash-background {
	border: none;
	border-radius: 18px;
	/* ubuntu fix */
	transition-duration: 250ms;
}

#dashtodockContainer.overview #dash .dash-background {
	box-shadow: inset 0 0 0 1.5px BORDER-MENU-SHADOW;
	background-color: DASH_OVERVIEW;
}


.dash-label {
	background-color: BACKGROUND-COLOR;
	color: TEXT-PRIMARY-COLOR;
	border-radius: 11px;
	border: none;
	/* ubuntu fix */
	box-shadow: inset 0 0 0 1px BORDER-MENU-SHADOW;
}

.app-well-app-running-dot {
	width: 10px;
	height: 5px;
	border-radius: 5px;
	background: ACCENT-SECONDARY-COLOR;
	transition-duration: 100ms;
}

#dash .app-well-app-running-dot {
	margin-bottom: 6px;
}

.dash-item-container .app-well-app .overview-icon,
.dash-item-container .show-apps .overview-icon {
	border-radius: 21px;
}

#dash .app-well-app:hover .overview-icon,
#dash .app-well-app:focus .overview-icon,
#dash .app-well-app:selected .overview-icon,
#dash .show-apps:hover .overview-icon,
#dash .show-apps:focus .overview-icon {
	box-shadow: inset 0 0 4px 1px WELL-APP-SELECTED;
	background-color: rgba(255, 255, 255, 0.1);
}

/* ubuntu fix */
#dashtodockContainer #dash .app-well-app:hover .overview-icon,
#dashtodockContainer #dash .app-well-app:focus .overview-icon,
#dashtodockContainer #dash .app-well-app:selected .overview-icon,
#dashtodockContainer #dash .show-apps:hover .overview-icon,
#dashtodockContainer #dash .show-apps:focus .overview-icon,
#dashtodockContainer .show-apps:selected .overview-icon,
#dashtodockContainer .show-apps:selected:hover .overview-icon,
#dashtodockContainer .show-apps:active .overview-icon,
#dashtodockContainer .show-apps:checked .overview-icon,
#dashtodockContainer .app-well-app.focused .overview-icon {
	border-radius: 15px;
	/* ubuntu fix*/
}

#dashtodockContainer .app-well-app.focused .overview-icon,
.show-apps:selected .overview-icon,
.show-apps:selected:hover .overview-icon,
.show-apps:active .overview-icon,
.show-apps:checked .overview-icon {
	box-shadow: inset 0 0 4px 1px WELL-APP-SELECTED;
}

/* ubuntu fix */
#dashtodockContainer.bottom.extended #dash .dash-background,
#dashtodockContainer.bottom.extended.dashtodock #dash .dash-background,
#dashtodockContainer.bottom.extended.shrink #dash .dash-background,
#dashtodockContainer.top.extended #dash .dash-background,
#dashtodockContainer.top.extended.dashtodock #dash .dash-background,
#dashtodockContainer.top.extended.shrink #dash .dash-background,
#dashtodockContainer.left.extended #dash .dash-background,
#dashtodockContainer.left.extended.dashtodock #dash .dash-background,
#dashtodockContainer.left.extended.shrink #dash .dash-background,
#dashtodockContainer.right.extended #dash .dash-background,
#dashtodockContainer.right.extended.dashtodock #dash .dash-background,
#dashtodockContainer.right.extended.shrink #dash .dash-background {
	border-radius: 0;
	background-color: DASH-COLOR;
	box-shadow: none;
	transition-duration: 250ms;
}

/* animation fix */
#dashtodockContainer.bottom.extended.overview #dash .dash-background,
#dashtodockContainer.bottom.extended.overview.dashtodock #dash .dash-background,
#dashtodockContainer.bottom.extended.overview.shrink #dash .dash-background,
#dashtodockContainer.top.extended.overview #dash .dash-background,
#dashtodockContainer.top.extended.overview.dashtodock #dash .dash-background,
#dashtodockContainer.top.extended.overview.shrink #dash .dash-background,
#dashtodockContainer.left.extended.overview #dash .dash-background,
#dashtodockContainer.left.extended.overview.dashtodock #dash .dash-background,
#dashtodockContainer.left.extended.overview.shrink #dash .dash-background,
#dashtodockContainer.right.extended.overview #dash .dash-background,
#dashtodockContainer.right.extended.overview.dashtodock #dash .dash-background,
#dashtodockContainer.right.extended.overview.shrink #dash .dash-background {
	background-color: BACKGROUND-COLOR;
}

#dash .app-well-app:hover .app-well-app-running-dot {
	width: 15px;
}

#dashtodockContainer .app-well-app.focused .app-well-app-running-dot {
	width: 20px;
}

.dash-separator {
	box-shadow: 0 0 0 0.25px TEXT-DISABLED-COLOR;
}

.show-apps .overview-icon {
	color: SHOW-APPS-ICON-COLOR;
}