/* Aylur's widgets extension */

/* adjust media / message / slider container in quick settings */
.quick-settings.tweaked .media,
.quick-settings.tweaked .message,
.quick-settings.tweaked .quick-container {
	background-color: SECTION-COLOR;
	border-radius: 16px;
	border: none;
	box-shadow: inset 0 0 0 1px BORDER-SHADOW;
}

/* ajust sliders margins */
.quick-settings.tweaked .quick-container .quick-slider {
	margin: 2.5px 0 2.5px 0;
}

.quick-settings.tweaked .quick-container .quick-slider:first-child {
	margin: 0 0 2.5px 0;
}

.quick-settings.tweaked .quick-container .quick-slider:last-child {
	margin: 2.5px 0 0 0;
}

.quick-settings.tweaked .quick-container .quick-slider:first-child:last-child {
	margin: 0;
}


.quick-settings.tweaked .media {
	font-weight: 500;
}


/* adjust roundness in quick toggle arrow */
.quick-settings.adjusted .quick-toggle .quick-toggle-arrow:ltr {
	border-radius: 0 36px 36px 0;
}

.quick-settings.adjusted .quick-toggle .quick-toggle-arrow:rtl {
	border-radius: 36px 0 0 36px;
}


/* system usage  */
.level-bar {
	padding: 0;
	background-color: ACCENT-DISABLED-COLOR;
}

/* system usage levels */
.usage-level StIcon {
	width: 1.29em;
}