/* datemenu message-list */
.message-list {
	border: none;
	padding: 0;
}

.message-list-sections:ltr {
	margin-right: 0px;
}

.message-list-sections:rtl {
	margin-left: 0px;
}


.message {
	background-color: BACKGROUND-COLOR;
	color: TEXT-PRIMARY-COLOR;
	border-radius: 18px;
	border: 1px solid BORDER-MENU-SHADOW;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07);
}


.message-list .message, .popup-menu-content .message {
	background-color: SECTION-COLOR;
	border: 1px solid BORDER-SHADOW;
	box-shadow: none;
	transition-duration: 100ms;
}

.message-list .message:hover {
	background-color: ACCENT-DISABLED-COLOR;
}

.message-list .message:focus {
	background-color: ACCENT-OPACITY-COLOR;
	box-shadow: inset 0 0 0 2px ACCENT-SECONDARY-COLOR !important;
}

.message .message-body,
.message-title {
	color: TEXT-PRIMARY-COLOR;
}

.message-dialog-content .message-dialog-title {
	font-weight: 700;
}

.message .message-secondary-bin>.event-time {
	color: TEXT-SECONDARY-COLOR;
}

.message-close-button {
	border-radius: 9px;
	color: TEXT-PRIMARY-COLOR;
	background-color: ACCENT-DISABLED-COLOR;
	border: 1px solid BORDER-SHADOW;
	transition-duration: 100ms;
}

.message-close-button:hover {
	background-color: ACCENT-DISABLED_HOVER;
}

.message-close-button:active {
	color: TEXT-SECONDARY-COLOR;
}


/* Media Controls */
.message-media-control {
	border-radius: 12px;
	padding: 0 14px;
	margin: 20px 2px;
	color: TEXT-PRIMARY-COLOR;
	transition-duration: 100ms;
}

.message-media-control:hover {
	background-color: ACCENT-DISABLED-COLOR;
	border: 1px solid BORDER-SHADOW;
	color: TEXT-PRIMARY-COLOR;
}

.message-media-control:insensitive {
	color: TEXT-DISABLED-COLOR
}

.message-media-control:last-child:ltr {
	margin-right: 20px;
}

.message-media-control:last-child:rtl {
	margin-left: 12px;
}

.message-media-control StIcon {
	icon-size: 1.09em;
}

.media-message-cover-icon {
	icon-size: 3.2em !important;
	border-radius: 12px;
}

.media-message-cover-icon.fallback {
	color: TEXT-PRIMARY-COLOR;
	background-color: ACCENT-DISABLED_HOVER;
	border: 1px solid BORDER-SHADOW;
	border-radius: 12px;
	icon-size: 1.6em !important;
	padding: 0.79em;
}


/* Notifications */
.notification-banner {
	background-color: BACKGROUND-COLOR;
	color: TEXT-PRIMARY-COLOR;
}

.notification-button:active {
	background-color: ACCENT-COLOR;
	color: TEXT-PRIMARY-COLOR;
}


.url-highlighter { link-color: ACCENT-SECONDARY-COLOR; }