/* OSD */
.switcher-list,
.resize-popup,
.workspace-switcher,
.osd-window {
	color: TEXT-PRIMARY-COLOR;
	background-color: BACKGROUND-COLOR;
	border: 1px solid BORDER-MENU-SHADOW;
	border-radius: 20px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07);
}

.switcher-list { border-radius: 24px; }

.ws-switcher-indicator {
	background-color: TEXT-SECONDARY-COLOR;
}

.switcher-list .item-box { border-radius: 20px; }
.switcher-list .item-box:hover,
.switcher-list .item-box:focus,
.switcher-list .item-box:selected {
	background-color: ACCENT-DISABLED-COLOR;
	box-shadow: inset 0 0 0 1px BORDER-SHADOW;
}


/* Modal dialog */
.modal-dialog {
	border-radius: 20px;
	background-color: BACKGROUND-COLOR;
	border: none;
	box-shadow: inset 0 0 0 1px BORDER-SHADOW;
	color: TEXT-PRIMARY-COLOR;
}

.user-icon.user-avatar { box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25); }

.modal-dialog-linked-button,
.notification-button,
.hotplug-notification-item {
	padding: 10px 0 !important;
	border-radius: 12px !important;
	box-shadow: inset 0 0 0 1px BORDER-SHADOW;
	background-color: ACCENT-DISABLED-COLOR;
	color: TEXT-PRIMARY-COLOR;
	animation-duration: 100ms;
}

.modal-dialog-linked-button:first-child,
.notification-button:first-child,
.hotplug-notification-item:first-child {
	margin: 0 6px 12px 12px !important;
}

.modal-dialog-linked-button:last-child,
.notification-button:last-child,
.hotplug-notification-item:last-child {
	margin: 0 12px 12px 6px !important;
}

.modal-dialog-linked-button:first-child:last-child,
.notification-button:first-child:last-child,
.hotplug-notification-item:first-child:last-child {
	margin: 0 12px 12px 12px !important;
}

.modal-dialog-linked-button,
.notification-button,
.hotplug-notification-item {
	margin: 0 6px 12px 6px !important;
}

.modal-dialog-linked-button:hover,
.modal-dialog-linked-button:focus,
.notification-button:hover,
.notification-button:focus {
	background: ACCENT-DISABLED_HOVER;
	color: TEXT-PRIMARY-COLOR;
}

.modal-dialog-linked-button:last-child {
	background-color: ACCENT-COLOR;
}

.modal-dialog-linked-button:last-child:hover,
.modal-dialog-linked-button:last-child:focus {
	background-color: ACCENT_HOVER;
}

.modal-dialog .modal-dialog-linked-button:focus,
.hotplug-notification-item:focus,
.notification-banner .notification-button:focus {
	animation-duration: 100ms;
	box-shadow: inset 0 0 0 1px TEXT-DISABLED-COLOR !important;
}

.modal-dialog .modal-dialog-linked-button:focus:hover,
.hotplug-notification-item:focus:hover,
.notification-banner .notification-button:focus:hover,
.modal-dialog .modal-dialog-linked-button:focus:active,
.hotplug-notification-item:focus:active,
.notification-banner .notification-button:focus:active {
	box-shadow: inset 0 0 0 1px TEXT-SECONDARY-COLOR !important;
}

.modal-dialog .modal-dialog-linked-button:insensitive,
.hotplug-notification-item:insensitive,
.notification-banner .notification-button:insensitive {
	color: TEXT-SECONDARY-COLOR;
	background-color: ACCENT_HOVER;
}


.prompt-dialog-password-entry {
	background-color: SECTION-COLOR;
}

.nm-dialog-scroll-view {
	border: 1px solid BORDER-SHADOW;
}

.nm-dialog-item:selected {
	box-shadow: inset 0 0 0 1px BORDER-SHADOW;
}
