stage {
	color: TEXT-PRIMARY-COLOR;
}


/* overview */
#overviewGroup,
.workspace-animation {
	background-color: BACKGROUND-COLOR;
}

/* overview app icon */
.icon-dropshadow { icon-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4); }


/* Activities Ripple */
.ripple-box {
	background-color: ACCENT-OPACITY-COLOR;
	box-shadow: 0 0 2px 2px ACCENT-OPACITY-COLOR;
}


/* overview-ws-thumbnail */
.workspace-thumbnail {
	border: none;
	/* border-radius: 9px; */
	background-color: ACCENT-DISABLED-COLOR;
	border: 1px solid BORDER-SHADOW;
}

.workspace-thumbnails .placeholder {
	background-image: url("workspace-placeholder.svg");
	background-size: contain;
	width: 18px;
}

.workspace-thumbnail-indicator {
	background-color: ACCENT-OPACITY-COLOR;
	border-color: TEXT-DISABLED-COLOR;
	border-width: 1px;
	border-radius: 3px;
}


.workspace-background {
	border-radius: 20px;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

.window-caption {
	spacing: 20px;
	border-radius: 10px;
	color: TEXT-PRIMARY-COLOR;
	background-color: BACKGROUND-COLOR;
	border: 1px solid BORDER-SHADOW;
	padding: 4px 8px;
}


/* Search */
.search-section-content {
	box-shadow: inset 0 0 0 1px BORDER-SHADOW;
	border-radius: 15px;
	border: none;
	background-color: SECTION-COLOR;
	color: TEXT-PRIMARY-COLOR;
}

.list-search-result .list-search-result-title {
	color: TEXT-PRIMARY-COLOR;
}

.list-search-result .list-search-result-description {
	color: TEXT-SECONDARY-COLOR;
}

.search-provider-icon .list-search-provider-content .list-search-provider-details {
	width: 120px;
	color: TEXT-PRIMARY-COLOR;
}

.list-search-result:focus,
.search-provider-icon:focus,
.list-search-result:hover,
.search-provider-icon:hover,
.list-search-result:selected,
.search-provider-icon:selected {
	background-color: ACCENT-DISABLED_HOVER;
	box-shadow: inset 0 0 0 1px BORDER-SHADOW;
}

.list-search-result:active,
.search-provider-icon:active {
	background-color: ACCENT-DISABLED_HOVER;
	color: TEXT-PRIMARY-COLOR;
}


/* Tiled window previews */
.tile-preview {
	background-color: ACCENT-OPACITY-COLOR;
	border: 1px solid ACCENT-COLOR;
}