/* Panel */

#panel {
	background-color: BACKGROUND-COLOR;
	height: 36px;
	font-size: 14px;
	box-shadow: none;
}

/* panel in overview, lock screen */
#panel:overview, #panel.unlock-screen, #panel.login-screen {
	background-color: transparent;
}


/* panel buttons */
.panel-button,
.panel-button .clock, /* Date & clock */
.clock-display StIcon { /* DND / new messages icon */
	color: TEXT-PRIMARY-COLOR;
	border-radius: 14px;
	border: 4px solid transparent;
	background-color: ACCENT-DISABLED-COLOR;
	box-shadow: inset 0 0 0 1px BORDER-SHADOW;
}

.panel-button:hover,
.panel-button:hover .clock, 
.panel-button:active,
.panel-button:active .clock {
	background-color: ACCENT-DISABLED_HOVER;
}


/*  indicator for active */
#panel .screencast-indicator,
#panel .remote-access-indicator,
#panel .panel-button.screen-sharing-indicator { /* when sharing screen */
	color: #cd9309;
}

#panel .panel-button.screen-sharing-indicator:hover {
	background: rgba(205, 147, 9, 0.9);
}

/* indicator when recording screen */
#panel .panel-button.screen-recording-indicator {
	background: #c01c28;
}

#panel .panel-button.screen-recording-indicator:hover {
	background: rgba(192, 28, 40, 0.9);
}


/* battery percentage */
#panel .power-status.panel-status-indicators-box {
	font-size: 12px;
}

/* battery icon */
#panel .power-status.panel-status-indicators-box StIcon {
	font-size: 14px;
}


/* panel buttons in lock screen / overview */
#panel.unlock-screen .panel-button,
#panel.login-screen .panel-button,
#panel:overview .panel-button {
	color: TEXT-PRIMARY-COLOR !important;
}


/* panel clock fix. remove additional background */
.clock-display { 
	background-color: transparent !important;
	box-shadow: none !important;
}

/* additional background for DND / new messages icon */
.clock-display StIcon { 
	padding: 8px;
	margin: 0;
}