/* Popovers */
.popup-menu-content,
.candidate-popup-content {
	color: TEXT-PRIMARY-COLOR;
	background: BACKGROUND-COLOR;
	padding: 10px;
	border-radius: 20px;
	border: 1px solid BORDER-MENU-SHADOW;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

.popup-menu-item,
.app-menu {
	margin: 3px 0;
	transition-duration: 150ms;
}

.popup-menu-item:focus,
.popup-menu-item:hover,
.popup-menu-item:checked {
	background-color: ACCENT-DISABLED-COLOR !important;
	box-shadow: inset 0 0 0 1px BORDER-SHADOW !important;
	color: TEXT-PRIMARY-COLOR;
}

.popup-menu-item:checked {
	border-radius: 12px 12px 0 0;
}

.popup-menu-item:active {
	background-color: ACCENT-DISABLED_HOVER;
	color: TEXT-PRIMARY-COLOR;
}

/* 44 separator margin fix */
.popup-separator-menu-item {
	padding: 0 !important;
}

.popup-separator-menu-item .popup-separator-menu-item-separator {
	height: 1px;
	margin: 6px 0;
	background-color: SEPARATOR-COLOR;
}

.popup-separator-menu-item-separator:ltr {
	margin-right: 4.5px;
}

.popup-separator-menu-item-separator:rtl {
	margin-left: 4.5px;
}


/* Popup sub menu */
.popup-sub-menu {
	background-color: ACCENT-DISABLED-COLOR;
	color: TEXT-PRIMARY-COLOR;
	box-shadow: inset 0 0 0 1px BORDER-SHADOW;
	border-radius: 0 0 12px 12px;
	margin: 0 0 2px 0;
}

.popup-sub-menu .popup-menu-item {
	margin: 0;
	color: TEXT-PRIMARY-COLOR;
	background-color: transparent;
}

.popup-sub-menu .popup-menu-item:last-child {
	border-radius: 0 0 12px 12px;
}

.popup-sub-menu .popup-menu-item:hover,
.popup-sub-menu .popup-menu-item:focus {
	background-color: ACCENT-DISABLED_HOVER !important;
}

.popup-menu-item:insensitive {
	color: TEXT-DISABLED-COLOR;
	margin: 0;
}

.popup-inactive-menu-item {
	color: TEXT-PRIMARY-COLOR;
	background-color: transparent;
}

.popup-inactive-menu-item:insensitive {
	color: TEXT-SECONDARY-COLOR !important;
}