@define-color blue_1 #99c1f1;
@define-color blue_2 #62a0ea;
@define-color blue_3 #3584e4;
@define-color blue_4 #1c71d8;
@define-color blue_5 #1a5fb4;
@define-color green_1 #8ff0a4;
@define-color green_2 #57e389;
@define-color green_3 #33d17a;
@define-color green_4 #2ec27e;
@define-color green_5 #26a269;
@define-color yellow_1 #f9f06b;
@define-color yellow_2 #f8e45c;
@define-color yellow_3 #f6d32d;
@define-color yellow_4 #f5c211;
@define-color yellow_5 #e5a50a;
@define-color orange_1 #ffbe6f;
@define-color orange_2 #ffa348;
@define-color orange_3 #ff7800;
@define-color orange_4 #e66100;
@define-color orange_5 #c64600;
@define-color red_1 #f66151;
@define-color red_2 #ed333b;
@define-color red_3 #e01b24;
@define-color red_4 #c01c28;
@define-color red_5 #a51d2d;
@define-color purple_1 #dc8add;
@define-color purple_2 #c061cb;
@define-color purple_3 #9141ac;
@define-color purple_4 #813d9c;
@define-color purple_5 #613583;
@define-color brown_1 #cdab8f;
@define-color brown_2 #b5835a;
@define-color brown_3 #986a44;
@define-color brown_4 #865e3c;
@define-color brown_5 #63452c;
@define-color light_1 #ffffff;
@define-color light_2 #f6f5f4;
@define-color light_3 #deddda;
@define-color light_4 #c0bfbc;
@define-color light_5 #9a9996;
@define-color dark_1 #77767b;
@define-color dark_2 #5e5c64;
@define-color dark_3 #3d3846;
@define-color dark_4 #241f31;
@define-color dark_5 #000000;
@define-color accent_bg_color ACCENT-COLOR;
@define-color accent_fg_color white;
@define-color accent_secondary_color ACCENT-SECONDARY-COLOR;
@define-color accent_color @blue_4;
@define-color destructive_bg_color @red_3;
@define-color destructive_fg_color white;
@define-color destructive_color @red_4;
@define-color success_bg_color @green_4;
@define-color success_fg_color white;
@define-color success_color #1b8553;
@define-color warning_bg_color @yellow_5;
@define-color warning_fg_color rgba(0, 0, 0, 0.8);
@define-color warning_color #9c6e03;
@define-color error_bg_color @red_3;
@define-color error_fg_color white;
@define-color error_color @red_4;
@define-color window_bg_color BACKGROUND-COLOR;
@define-color window_fg_color TEXT-PRIMARY-COLOR;
@define-color view_bg_color ACCENT-DISABLED-COLOR;
@define-color view_fg_color #333333;
@define-color headerbar_bg_color SECTION-COLOR;
@define-color headerbar_fg_color #2f2f2f;
@define-color headerbar_border_color rgba(0, 0, 0, 0.8);
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.07);
@define-color card_bg_color #ffffff;
@define-color card_fg_color #333333;
@define-color card_shade_color rgba(0, 0, 0, 0.07);
@define-color dialog_bg_color #fafafa;
@define-color dialog_fg_color #323232;
@define-color popover_bg_color BACKGROUND-COLOR;
@define-color popover_fg_color #333333;
@define-color thumbnail_bg_color #ffffff;
@define-color thumbnail_fg_color rgba(0, 0, 0, 0.8);
@define-color shade_color BORDER-SHADOW;
@define-color scrollbar_outline_color white;
@define-color incognito_bg_color #d7e3f0;
* {
    padding: 0;
    -GtkToolButton-icon-spacing: 4;
    -GtkTextView-error-underline-color: @error_bg_color;
    -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkToolItemGroup-expander-size: 11;
    -GtkWidget-text-handle-width: 20;
    -GtkWidget-text-handle-height: 24;
    -GtkDialog-button-spacing: 4;
    -GtkDialog-action-area-border: 0;
    outline-color: alpha(currentColor,0.3);
    outline-style: dashed;
    outline-offset: -3px;
    outline-width: 1px;
    -gtk-outline-radius: 8px;
    -gtk-secondary-caret-color: @accent_bg_color;
}

decoration {
    border-radius: 15px;
    box-shadow: 0 3px 12px 1px rgba(0, 0, 0, 0.3), 0 0 0 1px BORDER-MENU-SHADOW;
}
window, dialog {
    border-radius: 0 0 15px 15px;
}

dialog scrolledwindow {
    border-radius: 10px;
    border: none;
    background-color: SECTION-COLOR;
}

.background { color: @window_fg_color; background-color: @window_bg_color; }
.gtkstyle-fallback { color: @window_fg_color; background-color: @window_bg_color; }


/* header */
.titlebar:not(headerbar), headerbar { 
    padding: 0 6px;
    min-height: 46px; 
    border-width: 0 0 1px; 
    border-style: solid; 
    border-color: @headerbar_shade_color; 
    border-radius: 15px 15px 0 0;
    background-color: @headerbar_bg_color;
    transition-duration: 200ms;
}

.titlebar:not(headerbar) separator.titlebutton, headerbar separator.titlebutton { opacity: 0; }

window.maximized headerbar, window.maximized .titlebar, window.maximized window.background.csd decoration, window.maximized {
    border-radius: 0;
}

.titlebar:backdrop:not(headerbar), headerbar:backdrop { background-color: @headerbar_backdrop_color; background-image: none; transition: 200ms ease-out; }

.titlebar:not(headerbar) .title, headerbar .title { padding-left: 12px; padding-right: 12px; font-weight: bold; }

.titlebar:not(headerbar) .subtitle, headerbar .subtitle { font-size: smaller; padding-left: 12px; padding-right: 12px; }

headerbar button.image-button {
    padding: 6px;
    min-height: 0;
    min-width: 0;
    border-radius: 10px;
    transition-duration: 150ms;
    background-color: transparent;
    border: 1px solid transparent;
}
headerbar button:hover,
headerbar button:checked,
headerbar button.titlebutton:hover {
    background-color: ACCENT-DISABLED_HOVER;
    border: 1px solid @shade_color;
}

headerbar button.text-button { padding: auto 15px; }

headerbar button.suggested-action { background-color: ACCENT-COLOR; }
headerbar button.suggested-action:hover { background-color: ACCENT_HOVER; }
headerbar button.suggested-action:disabled { background-color: alpha(ACCENT-COLOR, 0.5); }

headerbar button.titlebutton {
    background-color: ACCENT-DISABLED-COLOR;
    padding: 4px;
    min-height: 0;
    min-width: 0;
    margin: 2.5px;
    border-radius: 99px;
    border: 1px solid @shade_color;
}

stackswitcher.linked button {
    background-color: ACCENT-DISABLED-COLOR;
    border: 1px solid @shade_color;
    padding: 5px 15px;
    border-radius: 0;
    font-weight: 500;
    transition-duration: 150ms;
}

stackswitcher button:backdrop {
    color: TEXT-SECONDARY-COLOR;
}

stackswitcher button:hover, stackswitcher button:checked {
    background-color: ACCENT-DISABLED_HOVER;
}

stackswitcher.linked button:first-child {
    border-radius: 10px 0 0 10px;
}

stackswitcher.linked button:last-child {
    border-radius: 0 10px 10px 0;
}

stackswitcher.linked button:nth-child(even) {
    border-left: none;
    border-right: none;
}


/* label */
label:insensitive { color: TEXT-DISABLED-COLOR; }


/* menu */
menubar { min-height: 16px; padding: 4px; }

menubar > menuitem, .menubar > menuitem { 
    border-radius: 7px;
    padding: 2px 8px;
    border: 1px solid transparent;
}

menubar > menuitem:hover, .menubar > menuitem:hover {
    background-color: ACCENT-DISABLED-COLOR;
    border: 1px solid BORDER-SHADOW;
}

.background.popup { background-color: transparent; }

menu,
.menu, 
.context-menu { 
  margin: 4px; 
  padding: 6px; 
  background-clip: border-box;
  border-radius: 12px;
  border: 1px solid BORDER-SHADOW;
  background-color: @popover_bg_color;
}


menu menuitem,
.menu menuitem,
.context-menu menuitem {
    padding: 4px 6px;
    border-radius: 9px;
    border: 1px solid transparent;
    transition-duration: 100ms;
}

menuitem accelerator { color: TEXT-SECONDARY-COLOR; }

menu menuitem:hover,
.menu menuitem:hover,
.context-menu menuitem:hover {
    background-color: ACCENT-DISABLED-COLOR;
    border-color: BORDER-SHADOW;
}

menu menuitem:disabled, .menu menuitem:disabled, .context-menu menuitem:disabled { color: TEXT-DISABLED-COLOR; }

menuitem check:dir(ltr), menuitem radio:dir(ltr) { margin-right: 7px; margin-left: 0; }
menuitem check:dir(rtl), menuitem radio:dir(rtl) { margin-left: 7px; margin-right: 0; }

menu > arrow, .menu > arrow, .context-menu > arrow {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none;
    min-height: 16px;
    min-width: 16px;
    padding: 4px;
    background-color: @popover_bg_color;
    border-radius: 0;
}

separator {
    background-color: SEPARATOR-COLOR; 
    min-width: 1px; 
    min-height: 1px; 
}

menu separator, .menu separator, .context-menu separator { margin: 6px 3px; }

menu menuitem arrow, .menu menuitem arrow, .context-menu menuitem arrow { min-height: 16px; min-width: 16px; }
menu menuitem arrow:dir(ltr), .menu menuitem arrow:dir(ltr), .context-menu menuitem arrow:dir(ltr) { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); margin-left: 10px; }
menu menuitem arrow:dir(rtl), .menu menuitem arrow:dir(rtl), .context-menu menuitem arrow:dir(rtl) { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); margin-right: 10px; }
menu > arrow.top, .menu > arrow.top, .context-menu > arrow.top { margin-top: -4px; border-bottom: 1px solid SEPARATOR-COLOR; border-top-right-radius: 8px; border-top-left-radius: 8px; -gtk-icon-source: -gtk-icontheme("pan-up-symbolic"); }
menu > arrow.bottom, .menu > arrow.bottom, .context-menu > arrow.bottom { margin-top: 8px; margin-bottom: -12px; border-top: 1px solid SEPARATOR-COLOR; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }


/* popovers */
popover.background {
    padding: 2px;
    background-color: @popover_bg_color;
    border: 1px solid BORDER-MENU-SHADOW;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.09), 0 2px 8px 3px rgba(0, 0, 0, 0.05);
}

popover.menu > stack { margin: -6px; }

popover.background button { 
    outline-color: mix(currentColor,mix(currentColor,@popover_bg_color,0.9),0.7);
    background-color: ACCENT-DISABLED-COLOR;
    padding: 8px;
    border: 1px solid BORDER-SHADOW;
    transition-duration: 150ms;
    -gtk-outline-radius: 0px;
}

popover.background button:hover, popover.background button:focus {
    background-color: ACCENT-DISABLED_HOVER;
}

popover.background button:first-child {
    border-radius: 10px 0 0 10px;
    -gtk-outline-top-left-radius: 9px;
    -gtk-outline-bottom-left-radius: 9px;

}

popover.background button:last-child {
    border-radius: 0 10px 10px 0;
    -gtk-outline-top-right-radius: 9px;
    -gtk-outline-bottom-right-radius: 9px;
}

popover.background modelbutton.flat {
    padding: 4px 7px 4px 7px;
    border: 1px solid transparent;
    border-radius: 9px;
    transition-duration: 150ms;
    -gtk-outline-radius: 8px;
}

popover.background modelbutton.flat:hover {
    background-color: ACCENT-DISABLED-COLOR;
    border: 1px solid BORDER-SHADOW;
}

popover.background modelbutton.flat:disabled {
    color: TEXT-DISABLED-COLOR;
}

modelbutton.flat arrow.left { -gtk-icon-source: -gtk-icontheme("go-previous-symbolic"); }
modelbutton.flat arrow.right { -gtk-icon-source: -gtk-icontheme("go-next-symbolic"); }

popover check.left:dir(rtl), popover radio.left:dir(rtl) { margin-left: 0; margin-right: 12px; }
popover check.right:dir(ltr), popover radio.right:dir(ltr) { margin-left: 12px; margin-right: 0; }


/* check-, radio- button */
check, radio {
    border: 2px solid TEXT-DISABLED-COLOR;
    margin: 0 4px;
    min-height: 12px;
    min-width: 12px;
    color: transparent;
    padding: 1px;
    transition-duration: 150ms;
}

check { border-radius: 6px; -gtk-icon-source: image(-gtk-recolor(url("check-symbolic.svg")), -gtk-recolor(url("check-symbolic.symbolic.png"))); }
radio { border-radius: 100%; -gtk-icon-source: image(-gtk-recolor(url("bullet-symbolic.svg")), -gtk-recolor(url("bullet-symbolic.symbolic.png"))); }
check:indeterminate, radio:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("dash-symbolic.svg")), -gtk-recolor(url("dash-symbolic.symbolic.png"))); }

check:hover, radio:hover, check:focus, radio:focus {
    color: TEXT-DISABLED-COLOR;
    background-color: alpha(ACCENT-COLOR, 0.3);
    border-color: BORDER-MENU-SHADOW;
}
check:disabled, radio:disabled {
    border-color: alpha(TEXT-DISABLED-COLOR, 0.25);
}

check:checked, check:indeterminate,
radio:checked, radio:indeterminate {
    color: TEXT-PRIMARY-COLOR;
    background-color: ACCENT-COLOR;
    border-color: transparent;
}
check:checked:hover, check:indeterminate:hover, check:checked:focus,
radio:checked:hover, radio:indeterminate:hover, radio:checked:focus {
    color: TEXT-SECONDARY-COLOR;
    background-color: ACCENT_HOVER;
    border-color: BORDER-MENU-SHADOW;
}
check:checked:disabled, check:indeterminate:disabled,
radio:checked:disabled, radio:indeterminate:disabled {
    background-color: alpha(ACCENT-COLOR, 0.5);
    color: TEXT-SECONDARY-COLOR;
    border-color: transparent;
}

checkbutton label:insensitive, radiobutton label:insensitive { color: TEXT-DISABLED-COLOR; }

checkbutton.text-button, radiobutton.text-button {
    padding: 2px 0;
    outline-offset: 0;
    -gtk-outline-radius: 8px;
}
checkbutton.text-button:dir(ltr), radiobutton.text-button:dir(ltr) { padding-right: 4px; }
checkbutton.text-button:dir(rtl), radiobutton.text-button:dir(rtl) { padding-left: 4px; }


/* spinner */
@keyframes spin { to { -gtk-icon-transform: rotate(1turn); } }

spinner { opacity: 0; -gtk-icon-source: -gtk-icontheme("process-working-symbolic"); }

spinner:backdrop { color: TEXT-DISABLED-COLOR; }

spinner:checked { opacity: 1; animation: spin 1s linear infinite; }
spinner:checked:disabled { opacity: 0.4; }


/* entry / spinbutton */
spinbutton, entry {
    min-height: 32px;
    border: 1px solid BORDER-SHADOW;
    border-radius: 10px;
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background-color: ACCENT-DISABLED-COLOR;
    caret-color: TEXT-SECONDARY-COLOR;
}

entry { padding-left: 8px; padding-right: 8px; }

entry:focus { border: 1px solid ACCENT-SECONDARY-COLOR; }

box:not(.vertical) > entry:first-child { border-radius: 10px 0 0 10px; }
box:not(.vertical) > entry:last-child { border-radius: 0 10px 10px 0; }

box.linked:not(.horizontal) > entry:first-child { border-radius: 10px 10px 0 0; }
box.linked:not(.horizontal) > entry { border-radius: 0; }
box.linked:not(.horizontal) > entry:last-child { border-radius: 0 0 10px 10px; }

entry:disabled, spinbutton:disabled {
    color: TEXT-DISABLED-COLOR;
    background-color: alpha(ACCENT-DISABLED-COLOR, 0.5);
}

entry > image.left { margin-right: 8px; }
entry > image.right { margin-left: 8px; }


/* combobox button */
combobox button {
    background-color: ACCENT-DISABLED-COLOR;
    /* min-height: 32px; */
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid BORDER-SHADOW;
    border-radius: 10px;
    -gtk-outline-radius: 10px;
}

combobox button:disabled { color: TEXT-DISABLED-COLOR; background-color: alpha(ACCENT-DISABLED-COLOR, 0.5); }

.linked:not(.vertical) > combobox > box > button.combo {
    -gtk-outline-radius: 0;
    border-radius: 0;
}

.linked:not(.vertical) > combobox:only-child > box > button.combo, combobox button:only-child, combobox button:first-child:last-child { border-radius: 10px; -gtk-outline-radius: 10px; }
.linked:not(.vertical) > combobox:first-child > box > button.combo, combobox button:first-child { border-radius: 10px 0 0 10px; -gtk-outline-radius: 8px 0 0 8px; }
.linked:not(.vertical) > combobox:last-child > box > button.combo, combobox button:last-child { border-radius: 0 10px 10px 0; -gtk-outline-radius: 0 8px 8px 0; }

combobox arrow { -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); min-height: 16px; min-width: 16px; }


/* spinbutton */
spinbutton:focus { border: 1px solid ACCENT-SECONDARY-COLOR; }

spinbutton entry, spinbutton entry:disabled { background-color: transparent; border: none; }
spinbutton entry:focus { border: none; }

spinbutton entry {
    min-height: 32px;
    min-width: 32px;
    border-radius: 0;
}

spinbutton button {
    min-height: 32px;
    min-width: 32px;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    transition-duration: 200ms;
}

spinbutton button:hover { background-color: ACCENT-DISABLED_HOVER; }
spinbutton button:active { background-color: mix(ACCENT-DISABLED_HOVER, ACCENT-COLOR, 0.2); }
spinbutton button:disabled { color: TEXT-DISABLED-COLOR; background-color: SECTION-COLOR; }

spinbutton:not(.vertical) entry, spinbutton:not(.vertical) entry:disabled, spinbutton:not(.vertical) entry:focus, spinbutton:not(.vertical) button { border-right: 1px solid BORDER-SHADOW; }
spinbutton:not(.vertical) entry:last-child, spinbutton:not(.vertical) button:last-child { border-right: none; }
spinbutton:not(.vertical) button:first-child, spinbutton:not(.vertical):dir(rtl) button.up { border-radius: 9px 0 0 9px; }
spinbutton:not(.vertical) button:last-child { border-radius: 0 9px 9px 0; }

spinbutton.vertical entry, spinbutton.vertical entry:disabled, spinbutton.vertical entry:focus, spinbutton.vertical button { border-bottom: 1px solid BORDER-SHADOW; }
spinbutton.vertical entry:last-child, spinbutton.vertical button:last-child { border-bottom: none; }
spinbutton.vertical button.up { border-radius: 9px 9px 0 0; }
spinbutton.vertical button:last-child { border-radius: 0 0 9px 9px; }


spinbutton:not(.vertical) progress, entry progress { border-bottom: 2px solid @accent_secondary_color; }



/* button */
button {
    min-height: 24px;
    min-width: 16px;
    padding: 4px 10px;
    border: 1px solid BORDER-SHADOW;
    border-radius: 10px;
    font-weight: bold;
    background-color: ACCENT-DISABLED-COLOR;
    transition-duration: 150ms;
}

button:hover { background-color: ACCENT-DISABLED_HOVER; }
button:disabled { background-color: alpha(ACCENT-DISABLED-COLOR, 0.5); }

button.font, button.file {
    padding: 0;
    min-height: 32px;
}

button.font > box > box > label { font-weight: bold; margin: 0 4px 0 4px; }

button.file > box > image:last-child:dir(ltr) { margin: 0 10px 0 6px; }
button.file > box > image:first-child:dir(rtl) { margin: 0 6px 0 10px; }

button.file > box > image:first-child:dir(ltr) { margin-left: 10px; }
button.file > box > image:last-child:dir(rtl) { margin-right: 10px; }

button.color { padding: 4px; }
button.color > colorswatch { border-radius: 7px; }

button.link {
    border: none;
    font-weight: normal;
    background-color: transparent;
}

button:link > label { color: @accent_secondary_color; }
button:visited > label { color: mix(@accent_secondary_color, @accent_bg_color, 0.5); }
button:link > label, button:visited > label { text-decoration-line: underline; }

.linked:not(.vertical):not(stackswitcher) > button {
    padding-left: 8px;
    padding-right: 8px;
    /* min-height: 32px; */
    background-color: ACCENT-DISABLED-COLOR;
    border: 1px solid BORDER-SHADOW;
    transition-duration: 150ms;
}

.linked:not(.vertical):not(stackswitcher) > button:hover { background-color: ACCENT-DISABLED_HOVER; }
.linked:not(.vertical):not(stackswitcher) > button:disabled { background-color: alpha(ACCENT-DISABLED-COLOR, 0.5); }

.linked:not(.vertical) > button:only-child {
    border-radius: 10px;
    -gtk-outline-radius: 8px;
}

.linked:not(.vertical) > button:first-child:not(:last-child) {
    border-radius: 10px 0 0 10px;
    -gtk-outline-radius: 8px 0 0 8px;
}

.linked:not(.vertical) > button:last-child:not(:first-child) {
    border-radius: 0 10px 10px 0;
    -gtk-outline-radius: 0 8px 8px 0;
}


/* togglebutton */
button.toggle:not(.image-button) {
    padding-left: 30px;
    padding-right: 30px;
    background-color: ACCENT-DISABLED-COLOR;
    /* min-height: 32px; */
    border-radius: 10px;
    border: 1px solid BORDER-SHADOW;
    transition-duration: 150ms;
}

button.toggle:not(.image-button):hover {
    background-color: ACCENT-DISABLED_HOVER;
}

button.toggle:not(.image-button):disabled {
    background-color: alpha(ACCENT-DISABLED-COLOR, 0.5);
}

button.toggle:not(.image-button):checked {
    background-color: ACCENT-COLOR;
}

button.toggle:not(.image-button):checked:hover {
    background-color: ACCENT_HOVER;
}

button.toggle:not(.image-button):checked:disabled {
    background-color: alpha(ACCENT-COLOR, 0.5);
}


/* switch */
switch {
    outline-offset: -4px;
    padding: 1px;
    border-radius: 10px;
    color: @window_fg_color;
    background-color: ACCENT-DISABLED_HOVER;
    border: 1px solid BORDER-SHADOW;
    transition-duration: 150ms;
}

switch:hover:not(:checked) { background-color: alpha(@accent_bg_color, 0.5); }
switch:checked { background-color: @accent_bg_color; }
switch:checked:hover { background-color: ACCENT_HOVER; }
switch:checked:disabled { background-color: alpha(ACCENT-COLOR, 0.5); }
switch:disabled { background-color: alpha(ACCENT-DISABLED-COLOR, 0.5); text-shadow: none; }

switch slider {
    margin: 0;
    min-width: 20px;
    min-height: 20px;
    background-color: TEXT-SECONDARY-COLOR;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -gtk-outline-radius: 6px;
    outline-color: alpha(TEXT-INVERTED-COLOR, 0.4);
}

switch image { color: transparent; }

switch:hover slider { background-color: TEXT-SECONDARY-COLOR; }
switch:checked slider { background-color: alpha(TEXT-PRIMARY-COLOR, 0.8); }
switch:disabled slider { background-color: TEXT-DISABLED-COLOR; box-shadow: none; }


/* scrolledwindow */
scrolledwindow, calendar {
    background-color: alpha(SECTION-COLOR, 0.75);
    box-shadow: inset 0 0 0 1px BORDER-MENU-SHADOW;
}

fontchooser scrolledwindow, .csd calendar { border-radius: 10px; }


/* scrollbar */
/* * { -GtkScrollbar-has-backward-stepper: false; -GtkScrollbar-has-forward-stepper: false; } */

scrollbar { background-color: @view_bg_color; transition: all 200ms linear; }

fontchooser scrolledwindow scrollbar.vertical:dir(ltr) { border-radius: 0 10px 10px 0; }
fontchooser scrolledwindow scrollbar.vertical:dir(rtl) { border-radius: 10px 0 0 10px; }

fontchooser scrolledwindow scrollbar.horizontal { border-radius: 0 0 10px 10px; }

scrollbar.overlay-indicator:not(.dragging):not(.hovering) { background-color: transparent; opacity: 0.4; }

scrollbar slider {
    color: @window_fg_color;
    min-width: 8px;
    min-height: 8px;
    border-radius: 10px;
    background-color: alpha(currentColor,0.2);
    background-clip: padding-box;
    transition: all 200ms linear;
}

/* scrollbar.horizontal slider { margin-bottom: -1px; }
scrollbar.vertical:dir(ltr) slider { margin-right: -1px; }
scrollbar.vertical:dir(rtl) slider { margin-left: -1px; } */

scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider {
    min-width: 3px;
    min-height: 3px;
    background-color: TEXT-DISABLED-COLOR;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering).horizontal slider { min-width: 40px; }
scrollbar.overlay-indicator:not(.dragging):not(.hovering).vertical slider { min-height: 40px; }

scrollbar slider:hover { background-color: alpha(currentColor,0.4); }
scrollbar slider:hover:active { background-color: alpha(currentColor,0.6); }
scrollbar slider:disabled { background-color: transparent; }

scrollbar.horizontal slider { min-width: 40px; }
scrollbar.vertical slider { min-height: 40px; }

scrollbar button {
    padding: 0;
    min-width: 15px;
    min-height: 15px;
    border-style: none;
    background-color: transparent;
    color: TEXT-DISABLED-COLOR;
    transition-duration: 150ms;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) button {
    background-color: transparent;
    border: none;
    -gtk-icon-source: none;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering).horizontal button { min-width: 15px; min-height: 0; }
scrollbar.overlay-indicator:not(.dragging):not(.hovering).vertical button { min-width: 0; min-height: 15px; }

scrollbar button:hover { background-color: transparent; color: alpha(@window_fg_color, 0.45); }
scrollbar button:active { background-color: transparent; color: TEXT-SECONDARY-COLOR; }
scrollbar button:disabled { background-color: transparent; color: alpha(@window_fg_color, 0.2); }

scrollbar.vertical button.down { -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }
scrollbar.vertical button.up { -gtk-icon-source: -gtk-icontheme("pan-up-symbolic"); }
scrollbar.horizontal button.down { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }
scrollbar.horizontal button.up { -gtk-icon-source: -gtk-icontheme("pan-start-symbolic"); }


/* treeview */
treeview.view {
    -gtk-outline-radius: 0;
    outline-offset: -1px;
    border-left-color: TEXT-DISABLED-COLOR;
    border-top-color: alpha(@window_fg_color, 0.2);
}

treeview:hover { background-color: ACCENT-DISABLED-COLOR; }
treeview:selected { background-color: ACCENT-COLOR; }

treeview.view.separator { color: alpha(@window_fg_color, 0.2); }

treeview > header > button {
    color: TEXT-SECONDARY-COLOR;
    font-size: 13px;
    background-color: transparent;
    padding: 0 5px;
    border: none;
    border-radius: 0;
    border-right: 1px solid BORDER-MENU-SHADOW;
    border-bottom: 1px solid BORDER-MENU-SHADOW;
    -gtk-outline-radius: 0;
}

treeview > header > button:last-child { border-right: none; }