/* Set default panel size */

#panel {
  height: 2.2em;
  font-size: 1em;
}

.panel-button {
  margin: 3px 2px;
}

.panel-button,
.panel-button .clock {
  border-radius: 8px;
}

.panel-button { -natural-hpadding: 10px !important; } 
.panel-status-indicators-box:first-child { padding-left: 0; }
.panel-status-indicators-box:last-child { padding-right: 0; }
.panel-status-indicators-box:first-child:last-child { padding: 0; }