/* Set default panel size */

#panel {
  height: 2.2em;
  font-size: 15px;
}

.panel-button,
.panel-button .clock, /* Date & clock */
.clock-display StIcon { /* DND / new messages icon */
  border-radius: 99px;
  border: 3px solid transparent;
}