/* Remove additional background in panel buttons */

.panel-button,
.panel-button .clock {
	background-color: transparent;
	box-shadow: none;
	margin: 0;
	border: 3px solid transparent !important;
	border-radius: 10px;
}

.panel-button:hover,
.panel-button:hover .clock,
.panel-button:active,
.panel-button:active .clock {
	background-color: transparent;
	box-shadow: inset 0 0 0 999px ACCENT-DISABLED_HOVER;
}

.panel-button.clock-display:hover,
.panel-button.clock-display:active {
	box-shadow: none;
}