/* Messages */

/* datemenu message-list */
.message-list {
	border-color: transparent; /* remove border between messages and calendar section */ 
	padding: 0 !important;
}

/* "No Notifications" text */
.message-list-placeholder {
	color: TEXT-DISABLED-COLOR;
	font-weight: 700;
}

/* remove right margin in message list section (datemenu) */
.message-list-sections:ltr { margin-right: 0px; }
.message-list-sections:rtl { margin-left: 0px; }


/* popup messages */
.message {
	color: TEXT-PRIMARY-COLOR;
	border-radius: 18px;
}


/* Message OSD */
.notification-banner {
	background-color: BACKGROUND-COLOR;
	color: TEXT-PRIMARY-COLOR;
	border: 1px solid BORDER-MENU-SHADOW;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07);
}


/* messages in menus */
.message-list .message, .popup-menu-content .message {
	background-color: SECTION-COLOR;
	box-shadow: inset 0 0 0 1px BORDER-SHADOW;
	transition-duration: 100ms;
}
.message-list .message:hover {
	background-color: ACCENT-DISABLED-COLOR;
}
.message-list .message:focus {
	background-color: ACCENT-OPACITY-COLOR;
	box-shadow: inset 0 0 0 2px ACCENT-SECONDARY-COLOR !important;
}

/* text / header in message */
.message .message-body,
.message-title {
	color: TEXT-PRIMARY-COLOR;
}

/* message time stamp */
.message .message-secondary-bin > .event-time {
	color: TEXT-SECONDARY-COLOR;
}

/* message title on 46+ */
.message .message-header .message-source-icon,
.message .message-header .message-header-content .message-source-title,
.message .message-header .message-header-content .event-time {
	color: TEXT-SECONDARY-COLOR;
}


/* close button, expand button (46+) */
.message-close-button,
.message-expand-button {
	border-radius: 99px;
	padding: 5px;
	margin: 0px;
	color: TEXT-PRIMARY-COLOR;
	background-color: ACCENT-DISABLED-COLOR;
	box-shadow: inset 0 0 0 1px BORDER-SHADOW;
	transition-duration: 100ms;
}

.message-close-button:hover,
.message-expand-button:hover {
	background-color: ACCENT-DISABLED_HOVER;
}

.message-close-button:active,
.message-expand-button:active {
	color: TEXT-SECONDARY-COLOR;
}


/* Media Controls */
.message-media-control {
	border-radius: 12px;
	/* currently disabled because of 46 */
	/* padding: 0 14px; */
	/* margin: 20px 2px; */
	color: TEXT-PRIMARY-COLOR;
	transition-duration: 100ms;
}

.message-media-control:hover {
	background-color: ACCENT-DISABLED-COLOR;
	box-shadow: inset 0 0 0 1px BORDER-SHADOW;
	color: TEXT-PRIMARY-COLOR;
}

.message-media-control:insensitive { color: TEXT-DISABLED-COLOR; }

/* fix margin for last button */
/* currently disabled because of 46 */
/* .message-media-control:last-child:ltr { margin-right: 20px; }
.message-media-control:last-child:rtl {	margin-left: 12px; } */


/* album art */
.media-message-cover-icon {
	icon-size: 3.2em !important;
	border-radius: 12px;
}

.media-message .message-icon { /* 46+ */
	border-radius: 12px !important;
}

/* when there is no artwork */
.media-message-cover-icon.fallback,
.media-message .message-icon.message-themed-icon { /* 46+ */
	color: TEXT-PRIMARY-COLOR;
	background-color: ACCENT-DISABLED_HOVER;
	border: 1px solid BORDER-SHADOW;
	border-radius: 15px;
	icon-size: 1.6em !important;
}

.media-message-cover-icon.fallback {
	padding: 0.79em;
}


/* URLs in messages */
.url-highlighter { link-color: ACCENT-SECONDARY-COLOR; }