/* Overview */

#overviewGroup, /* overview background */
.workspace-animation { /* spacing between worspaces (ctrl+alt+arr_left/right / 3 fingers gesture) */
	background-color: BACKGROUND-OPAQUE-COLOR;
}

/* workspaces */
.workspace-background {
	border-radius: 20px;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

/* running app icon (in workspaces) */
.icon-dropshadow { icon-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4); }

/* selected window titles (in workspaces) */
.window-caption {
	spacing: 20px;
	border-radius: 12px;
	color: TEXT-PRIMARY-COLOR;
	background-color: SECTION-OPAQUE-COLOR;
	border: 1px solid BORDER-SHADOW;
	padding: 4px 8px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
}


/* Activities Ripple (Settings - Multitasking - Hot Corner) */
.ripple-box {
	background-color: ACCENT-OPACITY-COLOR;
	box-shadow: 0 0 2px 2px ACCENT-OPACITY-COLOR;
	border-radius: 0  0 99px 0;
}


/* thumbnails on overview (workspaces list under search) */
.workspace-thumbnail {
	background-color: ACCENT-DISABLED-COLOR !important;
	border-radius: 4px;
	border: 1px solid BORDER-SHADOW !important;
}

/* drag and drop indicator */
.workspace-thumbnails .placeholder {
	background-image: url("workspace-placeholder.svg");
	background-size: contain;
	width: 18px;
}

/* selected indicator */
.workspace-thumbnail-indicator {
	background-color: ACCENT-OPACITY-COLOR;
	border-color: TEXT-DISABLED-COLOR;
	border-width: 1px;
	border-radius: 3px;
}


/* Tiled window previews */
.tile-preview {
	background-color: ACCENT-OPACITY-COLOR;
	border: 1px solid BUTTON-COLOR;
}

/* .windows-close in screenshot.css */