/* if first button: margin-right: 8px/2 */
.modal-dialog-linked-button:ltr:first-child,
.notification-button:ltr:first-child,
.hotplug-notification-item:ltr:first-child,
.modal-dialog-linked-button:rtl:last-child,
.notification-button:rtl:last-child,
.hotplug-notification-item:rtl:last-child {
	margin: 0 4px 8px 8px !important;
}

/* if last button: margin-left: 8px/2 */
.modal-dialog-linked-button:ltr:last-child,
.notification-button:ltr:last-child,
.hotplug-notification-item:ltr:last-child,
.modal-dialog-linked-button:rtl:first-child,
.notification-button:rtl:first-child,
.hotplug-notification-item:rtl:first-child {
	margin: 0 8px 8px 4px !important;
}

/* if only button: normal margin */
.modal-dialog-linked-button:first-child:last-child,
.notification-button:first-child:last-child,
.hotplug-notification-item:first-child:last-child {
	margin: 0 8px 8px 8px !important;
}

/* else: margin-right/left: 8px/2 */
.modal-dialog-linked-button,
.notification-button,
.hotplug-notification-item {
	margin: 0 4px 8px 4px !important;
}