.message-view .message {
	background-color: SECTION-OPAQUE-COLOR;
	margin-bottom: 8px !important;
}

.message:second-in-stack {
	background-color: SECTION-OPAQUE_SECOND;
}

.message:lower-in-stack {
	background-color: SECTION-OPAQUE_THIRD;
}

.message-view .message:hover {
	background-color: SECTION-OPAQUE_HOVER;
}